
<form action="/answer"> <!-- la où le formulaire va envoyer ma réponse -->
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
